.wrapper {
    background-color: #cde3ff;
    border: 1px solid gray;
    min-height: 100%;
    width: 95%;
    margin: 0 auto 0;
    padding: 0;
}

.buttons {
    text-align: center;
}

.submitField {
    width: 50%;
    text-align: center;
    margin: 0 auto 0;
}

.spacer{
    height: 50px;
}

.welcome {
    text-align: center;
}